footer {
  background-color: $primary_darken_1;
  @include media("<tablet") {
    * {
      text-align: center;
    }
  }
  .row-top {
    padding: 50px 0;
    .left {
        display: flex;
        flex-direction: column;
      .logo {
        margin-bottom: 80px;
        @include media("<tablet") {
          display: flex;
          justify-content: center;
          margin-bottom: 60px;
        }
      }
      .socials {
        div {
          display: flex;
          gap: 16px;
          a {
            cursor: pointer;
          }
          @include media("<tablet") {
            justify-content: center;
            margin-bottom: 48px;
          }
        }
      }
    }
    .mid-left,
    .mid-right {
      ul {
        padding: 0;
        li {
          list-style: none;
          &:not(:last-child) {
            margin-bottom: 16px;
          }
          a {
            text-decoration: none;
            color: $white;
          }
        }
      }
      @include media("<tablet") {
        margin-bottom: 48px;
      }
    }
    .right {
      p {
        &:not(:first-child) {
          font-weight: 400;
          font-size: 16px;
          line-height: 1.15;
          letter-spacing: 0;
        }
      }
    }

    p {
      color: $white;
      font-weight: 700;
      font-size: 16px;
      line-height: 1.15;
      letter-spacing: 0;
      margin: 0 0 28px 0;
    }
  }

  .line {
    border-top: 1px solid $white;
  }
  .bottom {
    max-width: 1216px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding:26px 0;
    @include media('<tablet'){
      flex-flow: column;
      justify-content: center;
    }

    .__left {
      color: $white;
      font-weight: 500;
      font-size: 14px;
      line-height: 1.15;
      letter-spacing: 0;
    }
    .__right {
      display: flex;
      gap: 20px;
      @include media('<tablet'){
        margin-top:12px;
        justify-content: center;
      }
      a {
        color: $white;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.15;
        letter-spacing: 0;
        text-decoration: underline;
      }
    }
  }
}
