
header {
    display: flex;
    .logo {
      display: flex;
      align-items: center;
      z-index: 10;
    }
    .menu {
      @include media("<large") {
        padding: 20px 0;
      }
    }
    .links {
      @include media("<large") {
        display: none;
      }
    }
    ul {
      display: flex;
      padding: 0;
      margin: 0;
      column-gap: 32px;
      height: 10vh;
      align-items: center;
  
      @include media("<large") {
        flex-flow: column;
        height: max-content;
      }
      li {
        height: 100%;
        display: flex;
        align-items: center;
        list-style: none;
  
        @include media("<large") {
          width: 100%;
        }
        a {
          color: $primary;
          text-decoration: none;
          transition: font-weight 0.2s ease;
  
          &:hover {
            font-weight: 700;
            transform: translateX(0);
          }
        }
        &:last-child {
          a {
            border-radius: 20px;
            background-color: $primary;
            color: $white;
            padding: 16px;
          }
        }
      }
    }
    .dropdown {
      position: relative;
      height: 100%;
      display: flex;
      align-items: center;
      .dropdown-content {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0fr;
        transition: grid-template-rows 0.3s linear;
        opacity: 0;
        position: absolute;
        top: 100%;
        right: 0;
        border-radius: 20px 0 20px 20px;
        width: max-content;
        > div {
          min-height: 0;
          overflow: hidden;
        }
        a {
          width: 100%;
          padding: 18px 24px;
          display: block;
  
          &:hover {
            background-color: $primary_tone_4;
            border-radius: 20px 0 20px 20px;
          }
        }
      }
      &:hover .dropdown-content {
        background-color: #f9f9f9;
        grid-template-rows: 1fr;
        opacity: 1;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
      }
    }
    .activate-mobile {
      margin-left: auto;
      align-self: center;
  
      @include media(">=large") {
        display: none;
      }
    }
  }
  .mobile-menu {
    overflow-y: scroll;
    position: fixed;
    top: 0;
    left: 0;
    min-width: 86vw;
    height: calc(100vh);
    background-color: $white;
    transform: translateX(-100%);
    pointer-events: none;
    transition: all linear 0.3s;
    z-index: 9;
    padding: 0;
  
    @include media(">=large") {
      display: none;
    }
  
    @include media("<tablet") {
      padding-top: 92px;
    }
  
    @include media("<mobile") {
      padding-top: 78px;
    }
  
    &.active {
      transform: translateX(0);
      pointer-events: all;
    }
    ul {
      list-style: none;
      padding-left: 0;
  
      li {
        line-height: 1;
        font-size: 18px;
        margin: 0;
        padding: 24px 27px;
        text-transform: uppercase;
  
        > div {
          padding-left: 0.5em;
        }
  
        &.hasSub {
          padding: 0;
          position: relative;
          flex-flow: column;
          align-items: start;
  
          span {
            padding: 24px 0 24px 18px;
            color: $primary;
            margin: 0;
            display: block;
          }
  
          .submenu {
            li {
              a {
                &:last-child {
                  background-color: $white;
                  color: $primary;
                  padding: 0;
                }
              }
            }
          }
        }
  
        &.active {
          svg {
            transform: rotate(180deg);
          }
  
          .submenu {
            visibility: visible;
            height: auto;
            opacity: 1;
          }
  
          &::after {
            transform: rotate(180deg);
          }
        }
  
        a {
          position: relative;
          list-style: none;
  
          &.active:not(.secondary-cta) {
            &::before {
              width: 0.25em;
              height: 0.25em;
            }
          }
        }
      }
  
      &.submenu {
        padding: 0 24px;
        height: 0;
        visibility: hidden;
        opacity: 0;
        // transition: 0.3s linear all;
  
        li {
          border-bottom: unset;
        }
      }
    }

    .mobile-menu-close {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background-color: rgba($color: $detailcolor, $alpha: 0.6);
      display: none;
      z-index: 8;
  
      @include media(">tablet") {
        display: none;
      }
  
      &.active {
        display: block;
      }
    }
  }