$ue-blue: #0D98BA;
// $ue-blue: #0D98BA;
$detailcolor: #001540;

$detailcolor: #001540;
$detailcolor_tone_1: #4A5D86;
$detailcolor_tone_2: #808A9F;

$primary: #427277;
$primary_tone_1: #3EB489;
$primary_tone_2: #349773;
$primary_tone_3: #63C9A4;
$primary_tone_4: #F8FFFC;

$teritary: #434A57;
$quternary: #fff;

$main-gray: #F4F4F4;
$border-gray: #B2B2B2;
$white: #fff;

$secondary: #434A57;
$secondary_tone_1: #3EB489;
$secondary_tone_2: #349773;

$footer-gray:#E8E6E6;
$footer-dark-gray: #DEDCDC;
$tabbed-slider-navigation-bg: #349773;

$error: #DE3730;

$peach:#D0A092;



:root {
    --color-primary: #35B98B;
}

.color-white{
    color:white !important;
}
