$ue-blue: #0d98ba;
// $ue-blue: #0D98BA;
$detailcolor: #001540;

$detailcolor: #001540;
$detailcolor_tone_1: #4a5d86;
$detailcolor_tone_2: #808a9f;

$teritary: #434a57;
$quternary: #fff;

$main-gray: #f4f4f4;

$footer-gray: #e8e6e6;
$footer-dark-gray: #dedcdc;
$tabbed-slider-navigation-bg: #349773;

// --------------------
$peach: #d0a092;
$artichoke: #87a783;

$artichoke-lighten-3: #e7ede6;

$white: #fff;
$error: #de3730;

$primary: #427277;
$primary_tone_2: #8eaaad;
$primary_tone_3: #b3c7c9;
$primary_tone_4: #d9e3e4;


$secondary: #434a57;
$secondary_tone_2: #8eaaad;
$secondary_tone_3: #b4b7bc;
$secondary_tone_4: #d9dbdd;

$forest_lighten_1: #8ba9a1;
$forest_lighten_3: #D8E2E0;
.forest_lighten_3{
    background-color:$forest_lighten_3;
}
$forest_darken_1:#658D82;

$peach_darken_1:#D9B3A8;
$peach_lighten_3:#F6ECE9;
.peach_lighten_3{
    background-color:$peach_lighten_3;
}

$cinereous_darken_1:#B09A91;
$cinereous_lighten_3:#EBE6E4;
.cinereous_lighten_3{
    background-color:$cinereous_lighten_3;
}

$artichoke_lighten_3:#E7EDE6;


$aegean_darken_1: #517995;
$aegean_lighten_3:#D3DEE4;
.aegean_lighten_3{
    background-color: $aegean_lighten_3;
}



.preset-color {
    &-white {
        h1,h2,h3,h4 {
            color: $white;
        }
    }
    &-primary {
        h1,h2,h3,h4,p {
            color: $primary;
        }
    }
    &-secondary {
        h1,h2,h3,h4 {
            color: $secondary;
        }
    }
    &-peach {
        h1,h2,h3,h4 {
            color: $peach;
        }
    }
}

:root {
    --color-primary: #35b98b;
}

