

.gut-health-section {
    padding-bottom:200px !important;
    .text-content {
        h2 {
            margin-bottom: 1.5rem;
        }

    }

    .info-box {
        border: 1px solid $primary_tone_4;
        border-radius: 20px;
        position: absolute;
        top:100%;
        left:-100%;
        z-index: 1;
        width:110%;
        p {
            margin: 60px auto;
            text-align: center;
            max-width:30.5rem;
            @include media('<large'){
                margin: 0;
                padding:30px 20px;
            }
        }
        @include media('<large'){
            left:unset;
            width: 100%;
        }
    }

    .product-content {
        position: relative;
        display: flex;
        flex-flow: column;
        align-items: center;
        img{
            z-index: 2;
        }
        .capsule-info {
            background: linear-gradient(270deg, #F6ECE9 0%, #D8E2E0 100%);
            padding:70px 20px 50px 20px;
            border-radius: 12px;
            position: absolute;
            top:75%;
            z-index: 0;
            width:100%;
            @include media('<large'){
                position: unset;
                margin-bottom:24px;
                padding:40px 20px;
            }
            p {
                margin:31px 0;
                text-align: center;
                max-width:388px;
                margin:auto;
            }
        }
    }

 

    @media (max-width: 768px) {
        .info-box {
            margin-right: 0;
            margin-bottom: -30px;
        }

        .capsule-info {
            margin-left: 0;
            margin-top: -30px;
        }
    }
}