.accordion-slider-section {
    border-radius: 20px;
    background: linear-gradient(270deg, $peach_lighten_3 0%, $forest_lighten_3 100%);
    picture {
        height: 100%;
        overflow: hidden;
        border-radius: 24px;
    }
    .swiper-slide img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .container {
        padding: 32px 0px;
    }
}
.accordion-item {
    $transition: all .6s ease-out;
    margin: 0px;
    transition: $transition;
    .title {
        display: grid;
        align-items: center;
        grid-template-columns: 30px 1fr;
        column-gap: 10px;
        padding: 10px;
        background-color: transparent;
        transition: $transition;
        color: $peach_darken_2;
        font-style: 18px;
        font-weight: 700;
        border-bottom: 1px solid $peach_darken_2;
        border-top: 1px solid transparent;
        border-left: 1px solid transparent;
        border-right: 1px solid transparent;
        border-radius: 0px;
        > div {
            width: 34px;
            height: 34px;
            background-color: rgb(156, 120, 110);            ;
            -webkit-mask-image: var(--mask-image);
            mask-repeat: no-repeat;
            mask-size: contain;
            transition: $transition;
            mask-position: center;
        }
        h4 {
            color: inherit;
        }
    }
    .content-container {
        overflow: hidden;
        display: grid;
        transition: $transition;
        grid-template-rows: 0fr;
        > div {
            overflow: hidden;
        }
    }
    .content {
        color: $peach_darken_2 !important;
        li, p, ul {
            color: $peach_darken_2;
        }
    }
    &.active {
        margin: 10px 0px;
        .title {
            padding: 20px;
            color: #fff;
            background-color: $peach;
            font-style: 22px;
            border: 1px solid $peach;
            border-radius: 16px;
            > div {
                background-color: #fff;
            }
        }
        .content-container {
            grid-template-rows: 1fr;
        }

        .content {

        }

    }
}
