.benefitgrid {
    .benefits {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        width: 100%;
        @include media('<large'){
            grid-template-columns: repeat(2, 2fr); 
            gap:20px;
            row-gap: 40px;
        }
        @include media('<tablet'){
            grid-template-columns: repeat(1, 4fr); 
        }
        .__items {
            display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: center;
            img {
                max-width: 60;
                max-height: 60px;
            }
            h2 {
                display: flex;
                flex-flow: column;
                text-align: center;
            }
            &:not(:last-of-type) {
                border-right: 1px solid $primary;
                @include media('<large'){
                    border-right: unset;
                }
            }
        }
    }

}
