$colors: (
    1: $peach_darken_1,
    2: $forest_darken_1,
    3: $cinereous_darken_1,
    4: $aegean_darken_1
);

.circle-card {
    .heading{
        max-width:50%;
        margin-bottom: 52px;
        @include media('<large'){
            max-width:100%;
            // text-align: center;
        }
        p{
            max-width:80%;
            @include media('<large'){
                max-width:100%;
            }
        }
    }
    .cards {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        align-items: center;
        flex-wrap: wrap;
        gap: 54px 32px;
        padding-bottom: rem(32px);
        @include media('<desktop'){
            grid-template-columns: repeat(2, 1fr);
            justify-content: space-around;
        }
        @include media('<550px'){
            grid-template-columns: repeat(1, minmax(0, 280px));
        }
        .card {
            display: flex;
            flex-flow: column;
            align-items: center;
            justify-content: start;
            border-radius: 20px;
            position:relative;
            height:316px;
            padding-top:20px;
            p {
                font-size: rem(18px) !important;
            }
            img {
                max-width: 232px;
                border-radius:100%;
            }
            @include media('<mobile'){
                width:100%;

            }
            @for $i from 1 through length($colors) {
                &:nth-child(#{$i}) p {
                    background-color: map-get($colors, $i);
                    text-align: center;
                    border-radius:50px;
                    color:$white;
                    max-width:13.438rem;
                    padding:14px;
                    position:absolute;
                    margin:0;
                    bottom:-10%;
                }
            }
        }
    }
}
