.content-image-section{
    .bottle-img{
        position:absolute;
        transform:translate(-50%, -70%);
        @include media('<tablet'){
            position:unset;
            transform:unset;
            margin:auto;
        }
    }
}