.faq-listing {
    $transition: ease-in 0.25s;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px 24px;
    padding-top: 32px;
    @include media('<=tablet') {
        grid-template-columns: 1fr;
    }
    .item {
        border: 1px solid $artichoke;
        background-color: $white;
        transition: background-color $transition;
        padding: 20px;
        border-radius: 20px;
        h4, p {
            color: $secondary;
        }
        h4 {
            font-size: 20px;
            font-weight: 700;
            line-height: normal;
            cursor: pointer;
        }
        p {
            padding: 12px 0 0 0;
            font-weight: 400;
            line-height: 1.2;
        }
        > div {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 0fr;
            overflow: hidden;
            transition: grid-template-rows $transition;
            > div {
                overflow: hidden;
            }
        }
        &.active {
            background-color: $artichoke-lighten-3;
            > div {
                grid-template-rows: 1fr;
            }
        }
    }
    & + a {
        display: block;
        margin: 24px auto 0;
    }
}
