.framed-slider-with-image {
    .content {
        align-self: center;
        border: 1px solid $peach;
        padding: 80px 10px;
        border-radius: 20px;
        @include media('>large'){
            border-radius: 0 20px 20px 0;
            border-left: none;
        }
        @include media('<tablet'){
            padding:20px 20px;
        }
        .swiper-slide {
            div {
                max-width: 460px;
                margin: auto;
                @include media('<tablet'){
                    p{
                        margin-bottom:40px;
                    }
                }
            }
        }
    }
    img {
        width: 100%;
    }
    &.preset {
        &-1 {
            h4, h5, h6, p {
                color: $secondary;
            }
            h4,h5,h6 {
                font-size: 24px;
                font-weight: 700;
            }
            p {
                font-size: 18px;
                font-weight: 400;
            }
        }
        &-2 {
            h4,h5,h6 {
                color: $peach;
                font-size: 24px;
                font-weight: 500;
            }
            p {
                color: $secondary;
                font-size: 18px;
                font-weight: 400;
            }
        }
        &-3 {
            h4,h5,h6 {
                color: $peach;
                font-family: "Maven Pro";
                font-size: 36px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }
            p {
                color: $secondary;
                font-size: 18px;
                font-weight: 400;
                // letter-spacing: -0.36px;
            }
        }
        // &-4 {
        //     h4,h5,h6 {
        //         color: $peach;
        //         font-size: 36px;
        //         font-weight: 700;
        //     }
        //     p {
        //         color: $secondary;
        //         font-size: 18px;
        //         font-weight: 400;
        //         // letter-spacing: -0.36px;
        //     }
        // }
    }
}

.swiper-pagination {
    &-container {
        position: absolute;
        bottom: 10px;
        right: 10px;
        width: 86%;
        @include media('<tablet'){
            width:91%;
        }
    }
    &-custom {
        width:max-content;
        color:$peach;
    }
}

.custom-next-button {
    color: $peach;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $peach;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease;
}
