
.hovered {
    .cards {
        display: flex;
        justify-content: space-between;
        width: 100%;
        cursor: pointer;
        @include media('<tablet'){
            flex-flow: column;
        }
        .card {
            width: 30%;
            border-radius: 16px;
            border: 1px solid $artichoke;
            height: 184px;
            overflow: hidden;
            transition: height 0.5s ease;
            @include media('<tablet'){
                width:100%;
                &:not(:last-of-type){
                    margin-bottom:20px;
                }
            }
            .__content {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: start;
                text-align: center;
                padding-top: 24px;
                    background-color:$artichoke_lighten_3;
                h3 {
                    margin-top: 10px;
                }
                
                svg {
                    transition: transform 0.5s ease;
                    margin-top: 15px;
                }
                
                p {
                    max-width: 15.125rem;
                    opacity: 0;
                    transform: translateY(-20px);
                    transition: all 0.5s ease;
                    height: 0;
                    margin: 0;
                }
            }
            
            &:hover {
                height: 277px;
                .__content {
                    background-color:$white;
                    p {
                        opacity: 1;
                        transform: translateY(10px);
                        height: auto;
                        margin-top: 15px;
                    }
                    
                    svg {
                        transform: rotate(180deg);
                    }
                }
            }
        }
    }
}