@import "library-card";
.card-display {
    display: flex;
    flex-flow: row;
    // display: grid;
    // grid-template-columns: repeat(3, 1fr);
    @include media(">tablet") {
        *:not(a, button) {
            text-align: left;
        }
    }

    &.library {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
        $gap: 28px;
        gap: $gap;
        @include media("<mobile") {
            grid-template-columns: 1fr;
        }
    }
    .library-card {
        border-radius: 16px;
        @include media("<large") {
            flex: 1 1 100%;
        }
    }
}

.card {
    display: flex;
    flex-flow: column;
    > div {
        width: 100%;
        background-color: $white;
        flex: 1;
        display: flex;
        align-items: flex-end;
        border-radius: rem(16px);
        &.pad-active {
            padding: 16px * 2 0;
        }
        img {
            margin: 0 auto;
            display: block;
        }
    }
    h5 {
        text-align: center;
        font-size: rem(32px);
        width: 80%;
        margin: 0.5em 1em;
    }
}
nav {
    ul.pagination {
        list-style: none;
        display: flex;
        flex-flow: row;
        gap: 4px;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin: 64px 0;
        li {
            &::before {
                content: none;
            }
            &.active {
                span {
                    color: #fff;
                    background-color: $detailcolor;
                }
            }
            &.disabled {
                opacity: 0.3;
            }
            a,
            span {
                border-radius: 6px;
                padding: 8px 10px;
                color: $detailcolor;
                line-height: 1;
                svg {
                    path {
                        stroke: $detailcolor;
                    }
                }
            }
            a {
                &:hover {
                    opacity: 0.75;
                    color: #fff;
                    background-color: $detailcolor;
                    svg {
                        path {
                            stroke: #fff;
                        }
                    }
                }
                &:not([aria-label="Next »"]):hover {
                }
            }
        }
    }
}
