.list-card{
    .fab-card{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap:30px;
        &.three{
            grid-template-columns: repeat(3, 1fr);
            gap:20px;
            @include media('<large'){
                grid-template-columns: repeat(2, 2fr);
            }
            @include media('<mobile'){
                grid-template-columns: repeat(1, 1fr);
            }
        }
        @include media('<large'){
            grid-template-columns: repeat(2, 2fr);
        }
        @include media('<mobile'){
            grid-template-columns: repeat(1, 1fr);
        }
        >div{
            text-align: center;
            img{
                display: unset;
            }
            h3{
                color:$primary;
                font-size:rem(24px);
                font-weight: 500;
                line-height: 28.2px;
                &.color-peach{
                    color:$peach;
                }
            }
            p{
                font-size: 1rem;
                font-weight: 400;
                line-height: 18.8px;
            }
        }
    }
}