.faq-section {
  padding: 60px 0;

  h2 {
    margin: auto;
    padding-bottom: 48px;
  }
  .faq-item {
    margin-bottom: 16px;
    overflow: hidden;
    .question {
      .arrow {
        transform: rotate(180deg);
      }
    }
    &.active {
      .question {
        .arrow {
          transform: rotate(0deg);
        }
      }
    }
  }
  // h2,h3,h4{
  //   color:$primary;
  // }
  .question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0px;
    cursor: pointer;
    border-bottom: 1px solid $primary;
    transition: background-color 0.3s ease;
    &:hover {
      background-color: #f9fafb;
    }
    .question-content {
      display: flex;
      align-items: center;
      gap: 12px;

      img {
        width: 24px;
        height: 24px;
        object-fit: cover;
      }
    }

    .arrow {
      transition: transform 0.4s ease;
    }
  }

  .faq-answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    // .answer-content {
    //     padding: 16px 20px;
    //     color: #4b5563;
    //     line-height: 1.6;
    // }
  }
}
