

.learnmore-cards {
    h2 {
        color: $secondary;
        font-weight: 400;
        line-height: 49.35px;
        letter-spacing: -0.01em;
        text-align: center;
        margin-bottom: 24px;
    }
    .card-container {
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(290px, 1fr));
        gap: 32px;
    }
    .card {
        border: 1px solid $forest_lighten_1;
        border-radius: 24px;
        padding: 32px;
        h3 {
            color: $primary;
            font-size: 2rem;
            line-height: 37.6px;
        }
        p {
            font-size: 1rem;
            margin-bottom: 32px;
        }
        // !!TODO: Add anchor styles
    }
}
